@model List<Holding>


<div>
    <h3>WS Regular</h3>
    <table class="table">
        <tr>
            <th>P&L</th>
            <th>Shares</th>
            <th>Ticker</th>
            <th>Average</th>
            <th>Current Price</th>
            <th>P&L %</th>
            <th>Goal: 5%</th>
            <th>$ Invested</th>
        </tr>
    @{
        foreach (var holding in Model)
        {
            <tr>
                <td>@String.Format("{0:c}",((holding.Ticker.Price - holding.Average) * holding.Shares))</td>
                <td>@holding.Shares</td>
                <td>@holding.Ticker.Symbol</td>
                <td>@String.Format("{0:c}",holding.Average)</td>
                <td>@String.Format("{0:c}",holding.Ticker.Price)</td>
                <td>@String.Format("{0:p}",(((holding.Ticker.Price - holding.Average) / holding.Average)))</td>
                <td>@String.Format("{0:c}",(holding.Average * 1.05m))</td>
                <td>@String.Format("{0:c}",(holding.Shares * holding.Average))</td>
                    <td>
                        <a class="btn" asp-route-id=@holding.Id asp-controller="Holding" asp-action="Edit">
                            <i class="fa-solid fa-pen-to-square"></i> Edit
                        </a>
                    </td>
                    <td>
                        <a class="btn" asp-route-id=@holding.Id asp-controller="Holding" asp-action="Delete">
                            <i class="fa-solid fa-trash"></i> Delete
                        </a>
                    </td>
            </tr>
        }
    }
    </table>    
</div>

<a class="btn" asp-controller="Holding" asp-action="Create">
    <i class="fa-solid fa-plus"></i> Add Holding
</a>